<div class="grid_12">
  <div class="navigationHeader" style="">
    <div class="left navigation">
      <%= link_to_remote( 
        "<img src='/images/prev.png' class='small navImage' />PREV",
        :loading => "$('#waitAnimation').show();",
        :after => "$('#waitAnimation').fadeOut(500);",
        :update => "directoriesContainer",
        :html => {:class => "navLink left textLeft"},
        :url => {:action => 'navigate', :dir => @prev })
      %>
    </div>
    
    <div class="center navigation textCenter">
      <p>HOME DIRECTORY "<%= session["home"] %>"</p>
    </div>
    
    <div class="right navigation">
      <%= link_to_remote(
        "<img src='/images/home.png' class='small navImage' />HOME",
        :loading => "$('#waitAnimation').show();",
        :after => "$('#waitAnimation').fadeOut(500);",
        :update => "directoriesContainer",
        :html => {:class => "navLink textRight"},
        :url => {:action=>'navigate', :dir=>session["home"]})
      %> 
    </div>
    <div class="clear"></div>
  </div>
</div>

<% @dirs.each_with_index do |(n,h), index| %>
  <% path = h["path"] %>
    <div class="link grid_12">
    <div class="key">
      <% unless h["children"] == "yes" %>
        <a class="dirLine">
        <span class='name'><%= n.upcase%></span>
        <span class='path'><%= h["path"] %></span>
      </a>
      <% else %>
        <%= link_to_remote(
          "<span class='name'>#{n.upcase}</span><span class='path'>#{h["path"]}</span>",
           :loading => "$('#waitAnimation').show();",
           :after =>  "$('#waitAnimation').fadeOut(500);",
           :update => "directoriesContainer",
           :html => {:class => "dirLink"},
           :url => {:action => 'navigate', :dir => path })
          %>
      <% end %>
    </div>
    
    <% unless @media_dirs.has_key?(path)%>
      <div class="value textRight">
        <span class="options left textRight">
          <a href="#" class="type" value="A">A</a>
          <a href="#" class="type" value="P">P</a>
          <a href="#" class="type" value="V">V</a>
          <input id="optionsField<%=index%>" type="hidden" class="optionsField" name="media[type]" />
        </span>
        
        <%= link_to_remote "STREAM",
          :loading => "$('#waitAnimation').show();",
          :after => "notify()",
          :html => {:class => "shareDir greenBtn btn"},
          :with=>"'type='+$('#optionsField#{index}').val()",
          :url => {:action => 'create', "media[path]" => path, :dir=> path }
        %> 
      </div>
   
    <% else %>
      
      <div class="value textRight">
        <span class="options left textRight">
          <a href="#" class="activetype"><%= @media_dirs[path]["type"] %></a>
        </span>

        <%= link_to_remote :STOP,
          :loading => "$('#waitAnimation').show();",
          :after => "notify()",
          :html => {:class => "unshareDir blackBtn btn"},
          :url => {:action => 'destroy', "media[id]" => @media_dirs[path]["id"], :dir=> path }
        %> 
      </div>    
    <% end %>
  </div>
<% end %>

<script>
  // SET MEDIA TYPE BEFORE SEND
  $options = $('#directoriesContainer span.options').find('a.type');
  
  $options.live('click', function() {
    $(this).parent().find('a.activetype').removeClass("activetype");
    $(this).addClass("activetype");
    $(this).parent().find('input.optionsField').val($(this).text());
  });
</script>
