<%= stylesheet_link_tag 'modules-new.css' %>
<%= stylesheet_link_tag 'buttons.css' %>
<%= stylesheet_link_tag 'toggle.css' %>

<% stylesheet_link_tag 'smb.css' %>

<div id="waitAnimation"><label><img src="/images/ajax-loader.gif">please wait ...<label></div>

<div class="moduleHead container_12">
  <div class="grid_3 left">
    <a id="back" href="/">BACK</a>
  </div>

  <div class="grid_6 middle">
    <h2>DLNA-Server configuration</h2>
    <h4>Stream your videos, music and photos to any device over a home network.</h4>
  </div>

  <div class="grid_3 right">
    <div id="actionToolbar">
      <span id="buttonCotainer">
        <a id="browser" href="#"  onclick="slideTo(0)" class="abtn width33 activeSlider"><img src="/images/buttons/folder.png" /></a>
        <%= link_to_remote(
          "<img src='/images/buttons/list.png' />",
           :before => "slideTo(1);",
           :html => {:id=>"list", :class => "abtn width33"},
           :url => {:action => 'all'})
        %>
        
        <%= link_to_remote(
          "<img src='/images/buttons/settings.png' />",
           :before => "slideTo(2);",
           :html => {:id=>"settings", :class => "abtn width33"},
           :update => "globalSettings",
           :url => {:action => 'getSettings'})
        %>
      </span>
      <a id="submit" href="#">SAVE</a>
    </div>
  </div>
</div>

<div class="clear"></div>

<div id="moduleStatus" class="container_12">
  <div class="statusWrapper">
    <div class="grid_3 left">
      <p class="moduleName">
        <img src="/images/dlna.png" alt="Expanded" border="0" />
        Media streaming
      </p>
    </div>
    <div class="grid_6 textCenter">
      <span>&nbsp;</span>
    </div>
    <div class="grid_3 right">
      <span>
        <% form_remote_for "status", :url => {:controller => "dlna", :action => 'action'},
           :before => "$('#wait').show();", :html => {:id => 'actionForm'},
           :after => "$('#wait').fadeOut('slow');", :update =>'mform' do |form| %>
           <%= form.check_box("status", { :id=> 'action', :class => 'ftoggle dlna', :checked  => DLNA.running? }, "start", "stop") %>
        <% end %>
      </span>
    </div>
  </div>
</div>

<div class="clear"></div>

<div id="notificationArea" class="container_12"></div>

<div class="clear"></div>

<div class="moduleBody container_12">
  <div>
    <div id="slides">
      <div id="slides-container">
      
        <div id="directoriesContainer" class="slide">
          <%= render :partial => "directories" %>
        </div>

        <div id="listview" class="slide">
          <div class="grid_12">
            <h2>Shared folders list
              <p style="color:#889; font-size:10px;">{Info} Show all shares</p>
            </h2>
            <h4><img src="images/ajax-loader.gif"> Please wait ...</h4>
          </div>
        </div>

        <div class="slide">
          <div id="globalSettings" class="grid_12">
            <h2>Global Settings
                <p style="color:#889; font-size:10px;">{Info} COMING SOON ...</p>
            </h2>
            <h4><img src="images/ajax-loader.gif"> Please wait ...</h4>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'toggle-new' %>
<script>
  function slideTo(number){
    var $abtns = $('#actionToolbar').find('a.abtn');
    var width = 960;
    var step = "-" + ((number * width)) + 'px';
    $("#slides-container").stop().animate({ "margin-left": step }, 300);
    $abtns.removeClass('activeSlider');

    switch(number) {
      case 0:
        $('#browser').addClass("activeSlider");
        break;
      case 1:
        $('#list').addClass("activeSlider");
        break;
      case 2:
        $('#settings').addClass("activeSlider");
        break;
      default:
        console.error("ERROR")
        break;
    }
  }

  $(document).ready(function() {
    $('[type=checkbox].dlna').toggle({on: "running", off: "unused", size: 180, id: "smb"});
    $('#smb').live('click', function() { $('#actionForm').submit(); });
    
    //initSliders();
  });
</script>

<script>
  function notify() {
    $('#waitAnimation').fadeOut(1000);
    setTimeout( function() {
      $('#notificationArea').clearQueue().stop().slideDown(250);
      setTimeout( function() {
        $('#notificationArea').clearQueue().stop().slideUp(100);
      }, 2000);
    }, 500);
  }
</script>



