<script type="text/javascript" src="/javascripts/filebrowser.js" ></script>
<%= stylesheet_link_tag 'filebrowser.css' %>

<div id="dirwrap">
  <div id="controls"></div>
  <div id="directories"></div>
</div>

<div id="mcontent" class="mcontent">

<div>
  <br>
  <h2 class="mheading grey">
    Create new share
    <span style="float:right;"><a id="info" href="#"> ? </a></span>
  </h2>

  <% form_remote_for :share,
    :url => {:action => 'create'},
    :before => "$('#wait').show();",
    :html => {:id => "form_new"},
    :update => "shares",
    :after => "$('#wait').fadeOut(); $('div#newform').stop().animate({height: '-=300' }, 200);" do |form| %>

    <%= form.hidden_field :id %>

    <!-- Display some info here -->
    <div class="infobox">
      <span class="infomark">I</span>
      <strong style="line-height:28px; font-size:12px;"> Click on "select" button to open a directory browser</strong>
    </div>
    
    <div style=" border:2px solid grey; padding:10px 5px; border-radius: 5px 5px 5px 5px; ">
      <div class="line">
        <div class='key'> <%= form.label :name %> </div>
        <div class='value'>
          <%= form.text_field :name, :class=>"uppercase" %>
        </div>
      </div>

      <div class="line">
        <div class='key'> <%= form.label :path %> </div>
        
        <div class='value'>
          <%= form.text_field :path, :id=>"browser" %>
        </div>
      </div>
    </div>
    <% form.submit%>
  <% end %>
  </div>
</div>

<script>
  jQuery(document).ready(function() {
    var home = "<%= ENV['HOME'] %>"
    $('#newform').find('[type=checkbox].ftoggle').slider({background: "orange"});
    $('#browser').directory({parent: home}); 
  });
  
  $(function(){ 
    
  });
</script>

