<script type="text/javascript" src="/javascripts/filebrowser.js" ></script>
<%= stylesheet_link_tag 'filebrowser.css' %>

<div id="dirwrap">
  <div id="controls"></div>
  <div id="directories"></div>
</div>

<div id="mcontent" class="mcontent">

<div>
  <br>
  <h2 class="mheading grey">
    New share
    <span style="float:right;"><a id="info" href="#"> info </a></span>
  </h2>

  <% form_remote_for :share,
    :url => {:action => 'create'},
    :before => "$('#wait').show();",
    :html => {:id => "form_new"},
    :update => "shares",
    :after => "$('#wait').fadeOut(); $('div#newform').stop().animate({height: '-=300' }, 200);" do |form| %>

    <%= form.hidden_field :id %>

    <div class="line">
      <div class='key'> <%= form.label :name %> </div>
      <div class='value'>
        <%= form.text_field :name, :class=>"uppercase" %>
      </div>
    </div>

    <div class="line">
      <div class='key'> <%= form.label :path %> </div>
      
      <div class='value'>
        <%= form.text_field :path, :id=>"browser" %>
        <% form.file_field :path %>
<!--        <input type="text" id="browser" style="border:1px solid #ccc;"> -->
      </div>
    </div>

    <div class="line">
      <div class='key'> <%= form.label :browseable %> </div>
      <div class='value'>
        <%= form.check_box(:browseable, {:class=>"ftoggle"}, "yes", "no")%>
      </div>
    </div>

    <div class="line">
      <div class='key'> <%= form.label :writeable %> </div>
      <div class='value'>
        <%= form.check_box(:writeable, {:class=>"ftoggle"}, "yes", "no")%>
      </div>
    </div>

    <% form.submit%>
  <% end %>
  </div>
</div>

<script>
  jQuery(document).ready(function() {
    $('#newform').find('[type=checkbox].ftoggle').slider({background: "orange"});
  });
  
  $(function(){ $('#browser').directory(); });
</script>

