<h2 class="mheading green">
  Autodiscovery 
  <span style="float:right; margin-right:20px;">{<b style="color:green">on</b> | off}</span>
  <p style="color:#889; font-size:10px;">
    List all media directories in users home
  </p>
</h2>

<% @dirs = scanHomeDirectory %>
<% @dirs.each_with_index do |(name, path), index| %>
  <% target = shared?(path) %>
  <% if target  %>
    <% form_remote_for :share, :url => {:action => 'destroy'}, 
      :html => {:id => "newform#{index+1}"},
      :before => "$('#wait').show();",
      :after => "$('#wait').fadeOut(1000);" do |form| %>
        
      <div id="<%= name %>" class="line">
        <div class="key">
          <div class="image-container">
            <img class="large" src="images/smb48.png"/>
          </div>
          <div class="info-container">
            <span class="name"><%= name.upcase %></span>
            <span class="path"><%= path %></span>
            <%= form.hidden_field :id, :value=> "#{target}"%>
            <%= form.hidden_field :name, :value=> "#{name.upcase}" %>
            <%= form.hidden_field :path, :value=> "#{path}" %>
          </div>
        </div>

        <div class="value">
          <a  href="#" class="unshare sumit" data-form="newform<%=index+1%>">UNSHARE</a>
        </div>
      </div>
    <% end%>
    
  <% else%>
    <% form_remote_for :share, :url => {:action => 'create'}, 
      :html => {:id => "newform#{index+1}"},
      :before => "$('#wait').show();",
      :after => "$('#wait').fadeOut(1000);" do |form| %>
      
      <div id="<%= name %>" class="line">
        <div class="key">
          <div class="image-container">
            <img class="large" src="images/file48.png"/>
          </div>
          <div class="info-container">
            <span class="name"><%= name.upcase %></span>
            <span class="path"><%= path %></span>
            <%= form.hidden_field :name, :value=> "#{name.upcase}" %>
            <%= form.hidden_field :path, :value=> "#{path}" %>
          </div>
        </div>

        <div class="value">
          <a  href="#" class="share sumit" data-form="newform<%=index+1%>">SHARE</a>
        </div>
      </div>
    <% end%>
  <% end %>
<% end %>
  
<br>

<h2 class="mheading grey">
  Custom path
  <p style="color:#889; font-size:10px;">
    Click select and choose directory you want to share
  </p>
</h2>

<% form_remote_for :share, :url => {:action => 'create'}, 
  :html => {:id => "newform_custom"},
  :before => "$('#wait').show();", 
  :loading => "$('#wait').show();", 
  :after => "$('#wait').fadeOut(); slideTo(0); " do |form| %>

  <div id="custom-dir" class="line">
    <div class="key">
      <div class="image-container">
        <img class="large" src="images/file48.png"/>
      </div>
      <div class="info-container">
        <span class="name" style="color:#8e9189">{CUSTOM}</span>
        <span class="path">{PATH}</span>
        <%= form.hidden_field :name, :value=> " " %>
        <%= form.hidden_field :path, :value=> " " %>
       </div>
    </div>
    <div class="value">
      <a id="submitSelectDir" href="#" class="share sumit" style="display:none;" data-form="newform_custom">SHARE</a>
      <a href="#" class="selectDir" data-form="newform_custom">SELECT</a>
    </div>
  </div>
<%end %>

<div id="dir-chooser"><!-- content from AJAX call --></div>

<script type="text/javascript" src="/javascripts/dir-chooser.js" ></script>
<%= stylesheet_link_tag 'dir-chooser.css' %>

<script>
  jQuery(document).ready(function() {
    var home = "<%= detectHome %>"
    $('#dir-chooser').dirchooser({parent: home});

    $('a.sumit').click(function() {
      formID = $(this).attr('data-form');
      console.log("SUBMIT FORM " + formID)
      $('#'+formID).submit();
    });

    $('#autodiscover').toggle({background: "orange", on: "on", off: "off", size: 100});
  });
</script>

