<%= stylesheet_link_tag 'mobilyblocks.css' %>

<div id="toppanel">
  <div id="newform">
    <div class="socials">
    
      <ul class="reset">
        <li>
          <%= link_to_remote(
              "<img src='images/audio.png' alt="" />",
              :update => 'newform',
              :before => 'console.log($("newform").find("[type=checkbox]")); $("newform").find("[type=checkbox]").slider({on: "running", off: "unused", size: 180});',
              :html => {:value => "AUDIO", :class => 'share_link'},
              :url => {:action => 'new', :name => "audio" })
           %>
        </li>
        <li>
          <%= link_to_remote(
              "<img src='images/video.png' alt="" />",
              :update => 'newform',
              :before => 'console.log($("newform").find("[type=checkbox]")); $("newform").find("[type=checkbox]").slider({on: "running", off: "unused", size: 180});',
              :html => {:value => "VIDEO", :class => 'share_link'},
              :url => {:action => 'new', :name => "video" })
              %>
        </li>
        <li>
          <%= link_to_remote(
              "<img src='images/photo.png' alt="" />",
              :update => 'newform',
              :before => 'console.log($("newform").find("[type=checkbox]")); $("newform").find("[type=checkbox]").slider({on: "running", off: "unused", size: 180});',
              :html => {:value => "PHOTO", :class => 'share_link'},
              :url => {:action => 'new', :name => "photo" })
           %>
        </li>
        <li>
          <%= link_to_remote(
              "<img src='images/file.png' alt="" />",
              :update => 'newform',
              :before => 'console.log($("newform").find("[type=checkbox]")); $("newform").find("[type=checkbox]").slider({on: "running", off: "unused", size: 180});',
              :html => {:value => "FILES", :class => 'share_link'},
              :url => {:action => 'new', :name => "files" })
          %>
        </li>
        <li>
          <%= link_to_remote(
              "<img src='images/backup.png' alt="" />",
              :update => 'newform',
              :before => 'console.log($("newform").find("[type=checkbox]")); $("newform").find("[type=checkbox]").slider({on: "running", off: "unused", size: 180});',
              :html => {:value => "BACKUP", :class => 'share_link'},
              :url => {:action => 'new', :name => "backup" })
          %>
        </li>
      </ul>
      
    </div>
  </div>
</div>

<%= javascript_include_tag 'mobilyblocks' %>

<script>
  $(function(){
    
  });
</script>
