<% form_remote_for @share, :url => {:action => 'update'},
        :before => "$('#wait').show();",
        :after => "expand($(this)); $('#wait').fadeOut('slow');",
        :html => {:id => "form_share"},
        :update =>'mform' do |form| %>

    <%= form.hidden_field :id %>

    <div class="line">
      <div class='key'> <%= form.label :name %> </div>
        <div class='value' style="text-transform:uppercase;"> 
          <% form.text_field :name %>
          <%= @share.name %>
        </div>
        
      </div>

      <% unless @share.name == "global"%>
        <div class="line">
          <div class='key'> <%= form.label :path %> </div>
          <div class='value'> 
            <%= @share.path %>
          </div>
        </div>

        <div class="line">
          <div class='key'> <%= form.label :browseable %> </div>
          <div class='value'>
            <%= form.check_box(:browseable, {:class=>"ftoggle"}, "yes", "no")%>
          </div> 
        </div>

        <div class="line">
          <div class='key'> <%= form.label :writeable %> </div>
          <div class='value'>
            <%= form.check_box(:writeable, {:class=>"ftoggle"}, "yes", "no")%>
          </div> 
        </div>

      <% else %>
        <div class="line">
          <div class='key'> <%= form.label :workgroup %> </div>
          <div class='value'> <%= @share.workgroup %> </div>
        </div>
      <% end %>
<% end %>

<script>
  $(function () {
    initSliders("orange")
  })
</script>
