<%= stylesheet_link_tag 'samba.css' %>
<script src="/javascripts/ftoggle.js" type="text/javascript"></script>
<script src="/javascripts/module.js" type="text/javascript"></script>

<%= stylesheet_link_tag 'mobilyblocks.css' %>
<script type="text/javascript" src="/javascripts/mobilyblocks.js" ></script>

<script>
  jQuery(document).ready(function() {
    $('[type=checkbox].smb').slider({on: "running", off: "unused", size: 180, id: "smb"});
    $('#smb').live('click', function() {
      $('#smbform').submit();
    })
  });
  
  $(function(){
    $('.socials').mobilyblocks({
      direction: 'clockwise',
      duration:300,
      zIndex:500,
      widthMultiplier:1.25
    });
  });
</script>

<div>
  <div class="container_12 mhead">
    <div class="grid_2 leftcont">
      <a href="/" id="back" class="button">BACK</a>
    </div>

    <div class="grid_8">
      <h2>Samba configuration</h2>
      <h4>Access your files, videos, music and photo from any device in home network.</h4>
    </div>

    <div class="grid_2 rightcont">
      <div class="actionscont">
          <% link_to_remote(
                     "<img src='/images/plus.png' />",
                     :before => "$('#wait').show();",
                     :update => 'mform',
                     :after => "$('#wait').hide();",
                     :html => {:class => 'share_link'},
                     :url => {:action => 'new'})
                %>
          <a  id="add" href="#" class="button">
            <img src="/images/plus.png" />
          </a>
          <a id="settings" href="#" class="button">
            <img src="/images/settings-white.png" />
          </a>
          
          <a href="#" id="submit" class="button">SAVE</a>
        <div class="clear"></div>
      </div>
    </div>


    <div id="wait">
     <img src="/images/wait.gif" />
      <label>please wait ...<label>
     </div>

  </div>

  <div class="clear"></div>

  <div class="container_12 mbody">


    <%= render :partial => "new"  %>

   
    <div class="mstatus">
      <div class="grid_6">
        <p class="left">
          <img src="/images/samba-sym2.png" alt="Expanded" border="0" />
          SAMBA status:
        </p>
      </div>
      <div class="grid_6 right">
        <% form_remote_for @smb, :url => {:action => 'smbaction'},
          :before => "$('#wait').show();", :html => {:id => 'smbform'},
          :after => "$('#wait').fadeOut('slow');", :update =>'mform' do |form| %>
            <%= form.check_box(:status, { id=> 'smbaction', :class => 'ftoggle smb', :checked  => @smb.status }, "start", "stop") %>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="grid_12">
      <div id="mcontent" class="mcontent">
        <div id="msettings" class="msettings hidden">
          <%= render :partial => "settings"  %>
          
        </div>

       </div>

          <%= render :partial => "shares"  %>
          
          <!-- CAN NOT UPDATE PARTIAL ???-->
          <!--<div>
            <% for share in @shares %>
              <div class="link">
                <%= link_to_remote(
                     "<div class='key'>#{share.name}</div>" +
                     "<div class='value'> <strong> {#} </strong> </div>",
                     :before => "$('#wait').show(); console.log('wait');",
                     :update => 'mform',
                     :after => "console.log('finished'); expand($(this)); $('#wait').fadeOut('slow');",
                     :html => {:class => 'share_link'},
                     :url => {:action => 'show', :id => share.id, :name => share.name })
                %>
              </div>
            <% end %>
         </div>-->
          <!-- render :shares -->
      </div>
      <div id="mform" class="mform">
        <!-- render partial -->
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="clear"></div>

</div>

