<style>
  #slideshow { margin: 0 auto; width:100%; min-height:420px; overflow:hidden; }
  #edit_form { display:none; }
  .inner { height:420px; background:#fff; }
  .slide { width:940px; min-height:420px; margin-left:0px; float:left; }
</style>

<div>
  <div class="container_12 mhead">

    <div class="grid_3 leftcont">
      <a href="/" id="back" class="button">BACK</a>
    </div>

    <div class="grid_6">
      <h2>Samba configuration</h2>
      <h4>Access your files, videos, music and photo from any device in home network.</h4>
    </div>

    <div class="grid_3 rightcont">
      <div id="actions">
        <a id="all" href="#" onclick="slideTo(0)"  class="button sliderbtn"><img src="/images/list.png" /></a>
        <a id="new" href="#" onclick="slideTo(2)" class="action button sliderbtn"><img src="/images/plus.png" /></a>
        <a id="set" href="#" onclick="slideTo(3)" class="action button sliderbtn"><img src="/images/settings-white.png" /></a>
        <a id="del" href="#" onclick="slideTo(0)" class="action button sliderbtn"><img src="/images/trash.png" /></a>

        <a href="#" id="submit" class="">SAVE</a>
        <div class="clear"></div>
      </div>
    </div>

    <div id="wait"><label>please wait ...<label></div>

  </div> <!-- mhead -->

  <div class="clear"></div>

  <div class="container_12 mbody">

    <%= render :partial => "status" %>

    <div class="grid_12">
      <div id="mcontent" class="mcontent">
        <div id="slideshow">
          <div class="inner">
            <div id="all-container" class="slide"><%= render :partial => "directories" %></div>
            <div id="edit-container" class="slide"><!-- render :partial => 'share' --> </div>
            <div id="new-container" class="slide"><%= render :partial => "new" %></div>
            <!--<div id="del-container" class="slide">DEL</div>-->
            <div id="set-container" class="slide"><%= render :partial => "settings" %></div>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>

  <div class="clear"></div>

</div> <!-- mbody -->

<%= javascript_include_tag 'ftoggle' %>
<%= javascript_include_tag 'module' %>

<script>
  function initFormSlider() {
    var $slides = $('#slideshow').find("div.slide");
    var width = parseInt($slides.width());
    var number = $slides.length;
    var maxWidth = (width * number) + width;
    $(".inner").css({ "width": maxWidth });
  }


  jQuery(document).ready(function() {
    $('[type=checkbox].smb').toggle({on: "running", off: "unused", size: 180, id: "smb"});
    $('#smb').live('click', function() { $('#smbform').submit(); });
    initFormSlider();
  });

  jQuery(document).ready(function() {
    //$('a.sliderbtn').bind('click', function(){
      //var number = parseInt($(this).attr('data-number'));
      //console.log("\nSlide to " + number);
      //var container = $(this).attr('data-container');
      //slideTo(number, container);
    //});
  });

  /*function slideTo(number, container){
    var $slides = $('#slideshow').find("div.slide");
    var width = parseInt($slides.width());
    var move = "-" + ((number * width)) + 'px';
    $(".inner").stop().animate({ "margin-left": move }, 300, function() {
      submit(container);
    });*/

    function slideTo(number){
      $('#edit_form').hide();
      console.log("Slide to " + number)
      var $slides = $('#slideshow').find("div.slide");
      var width = parseInt($slides.width());
      var move = "-" + ((number * width)) + 'px';
      $(".inner").stop().animate({ "margin-left": move }, 300, function() {
        //submit(container);
      });
    }

  /*function submit(container) {
    console.log("FORM SHOULD BE SUBMITTED " + container)

    $('div.actionscont').find('a.button').hide();

    $submit = $('#submit');
    $submit.show().stop().delay(200).animate({ width: "100%" }, 100);

    var $form = $('#' + container).find('form');

    console.log($form)
    $submit.live('click', function() {
      console.log("SUBMIT FORM ON CLICK");
      $form.submit();
      console.log("END SUBMIT ACTION");
    });
  }

  function hideSubmit() {
    $('#submit').stop().animate({ width: "0" }, 100);
    $('div.actionscont').find('a').show();
    $('#submit').hide();

  }*/
</script>

