<%= stylesheet_link_tag 'module.css' %>

<div>
  <div class="container_12 mhead">
    <div class="grid_3 leftcont">
      <a href="/" id="back" class="button">BACK</a>
    </div>

    <div class="grid_6">
      <h2>Samba configuration</h2>
      <h4>Access your files, videos, music and photo from any device in home network.</h4>
    </div>

    <div class="grid_3 rightcont">
      <div class="actionscont">
          <% link_to_remote(
                     "<img src='/images/plus.png' />",
                     :before => "$('#wait').show();",
                     :update => 'mform',
                     :after => "$('#wait').hide();",
                     :html => {:class => 'share_link'},
                     :url => {:action => 'new'})
                %>
          <a  id="new" href="#" class="button">
            <img src="/images/plus.png" />
          </a>
          <a  id="delete" href="#" class="button">
            <img src="/images/trash.png" />
          </a>
          <a id="settings" href="#" class="button">
            <img src="/images/settings-white.png" />
          </a>

          <a href="#" id="submit" class="button">SAVE</a>
        <div class="clear"></div>
      </div>
    </div>


    <div id="wait">
     <!--<img src="/images/wait.gif" />-->
     <label>please wait ...<label>
    </div>

  </div>

  <div class="clear"></div>

  <div class="container_12 mbody">

    <%= render :partial => "new"  %>

    <div class="mstatus">
      <div class="grid_6">
        <p class="left">
          <img src="/images/samba-sym2.png" alt="Expanded" border="0" />
          SAMBA status:
        </p>
      </div>
      <div class="grid_6 right">
        <% form_remote_for @smb, :url => {:action => 'smbaction'},
          :before => "$('#wait').show();", :html => {:id => 'smbform'},
          :after => "$('#wait').fadeOut('slow');", :update =>'mform' do |form| %>
          <%= form.check_box(:status, { id=> 'smbaction', :class => 'ftoggle smb', :checked  => @smb.status }, "start", "stop") %>
        <% end %>
      </div>
      <div class="clear"></div>
    </div>

    <div class="grid_12">
      <div id="mcontent" class="mcontent">
        <div id="msettings" class="msettings hidden">
          <%= render :partial => "settings"  %>
        </div>
       </div>
       
          <%= render :partial => "shares"  %>
      </div>
      <div id="mform" class="mform">
        <!-- render partial -->
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="clear"></div>

</div>

<%= javascript_include_tag 'ftoggle' %>
<%= javascript_include_tag 'filebrowser' %>
<%= javascript_include_tag 'module' %>

<script>
  jQuery(document).ready(function() {
    $('[type=checkbox].smb').slider({on: "running", off: "unused", size: 180, id: "smb"});
    
    $('#smb').live('click', function() {
      $('#smbform').submit();
    })
  });

  $(function(){
    $('.socials').mobilyblocks({
      direction: 'clockwise',
      duration:300,
      zIndex:500,
      widthMultiplier:1.50
    });
  });
</script>

