<h2 class="mheading grey">Create new share</h2>

<% form_remote_for :share,
    :url => {:action => 'create'},
    :before => "$('#wait').show();",
    :html => {:id => "form_new"},
    :update => "all-container",
    :after => "$('#wait').fadeOut();" do |form| %>

    <%= form.hidden_field :id %>

      <div class="line">
        <div class='key'> <%= form.label :name %> </div>
        <div class='value'>
          <%= form.text_field :name, :class=>"uppercase" %>
        </div>
      </div>

      <div class="line">
        <div class='key'> <%= form.label :path %> </div>
        <div class='value'>
          <%= form.text_field :path, :id=>"browser" %>
        </div>
      </div>
<% end %>

<div id="dirwrap">
  <div id="controls"></div>
  <div id="directories"></div>
</div>

<script type="text/javascript" src="/javascripts/filebrowser.js" ></script>
<%= stylesheet_link_tag 'filebrowser.css' %>

<script>
  jQuery(document).ready(function() {
    var home = "<%= ENV['HOME'] %>"
    $('#browser').directory({parent: home}); 
  });
</script>

