<div class="grid_12">
  <div class="navigationHeader" style="">
    <div class="left navigation">
      <%= link_to_remote( 
        "<img src='/images/prev.png' class='small navImage' />PREV",
        :loading => "$('#waitAnimation').show();",
        :after => "$('#waitAnimation').fadeOut(500);",
        :update => "directoriesContainer",
        :html => {:class => "navLink left textLeft"},
        :url => {:action => 'browse', :dir => @prev })
      %>
    </div>
    
    <div class="center navigation textCenter">
      <p>HOME DIRECTORY "<%= session["home"] %>"</p>
    </div>
    
    <div class="right navigation">
      <%= link_to_remote(
        "<img src='/images/home.png' class='small navImage' />HOME",
        :loading => "$('#waitAnimation').show();",
        :after => "$('#waitAnimation').fadeOut(500);",
        :update => "directoriesContainer",
        :html => {:class => "navLink textRight"},
        :url => {:action=>'browse', :dir=>session["home"]})
      %> 
    </div>
    <div class="clear"></div>
  </div>
</div>

<% @dirs.each do |n,h| %>
  <% path = h["path"] %>
    <div class="link grid_12">
    <div class="key">
      <% unless h["children"] == "yes" %>
        <a class="dirLine">
        <span class='name'><%= n.upcase%></span>
        <span class='path'><%= h["path"] %></span>
      </a>
    <% else %>
      <%= link_to_remote(
        "<span class='name'>#{n.upcase}</span><span class='path'>#{h["path"]}</span>",
         :loading => "$('#waitAnimation').show();",
         :after =>  "$('#waitAnimation').fadeOut(500);",
         :update => "directoriesContainer",
         :html => {:class => "dirLink"},
         :url => {:action => 'browse', :dir => path })
        %>
    <% end %>
    
    </div>
    
    <% unless @shared.include?(path)%>
      <div class="value textRight">
        <%= link_to_remote :SHARE,
          :loading => "$('#waitAnimation').show();",
          :after => "notify()",
          :html => {:class => "shareDir greenBtn btn"},
          :url => {:action => 'create', "share[name]"=> n.upcase, "share[path]" => path, :dir=> path }
        %> 
      </div>
   
    <% else %>
      <div class="value textRight">
          <%= link_to_remote :UNSHARE,
          :loading => "$('#waitAnimation').show();",
          :after => "notify()",
          :html => {:class => "unshareDir blackBtn btn"},
          :url => {:action => 'destroy', "share[id]" => @shared[path], :dir=> path }
        %> 
      </div>    
    <% end %>
  </div>
<% end %>

