<h2 class="mheading blue">Global settings</h2>
 

<div class="clear"></div>

<div class="moduleForm">
  <div class="line">
  
    <div class="key">
      Workgroup
      <span class="description">Workgroup-Name or NT-Domain-Name</span>
    </div>
  
    <div class="value uppercase">
      <%= text_field_tag("share[workgroup]", global.workgroup, :class=>"textField")  %>
    </div>
  
    <div class='action'>
      <%= link_to_remote "submit", 
        :url=> { :controller=> "smb", :action => "saveSettings" },
        :html => {:class => "btn greenBtn textRight"},
        :loading => "$('#waitAnimation').show();",
        :after =>  "$('#waitAnimation').fadeOut(500);",
        :with=>"'share[id]=target[1]' + '&share[workgroup]='+$('#share_workgroup').val()" 
      %>
    </div>    
  </div>
    
  <div class="line">
    <div class="key">
      Netbios name
      <span class="description">Computer name (usually same as your hostname)</span>
    </div>
  
    <div class="value uppercase">
      <%= text_field_tag("share[netbios_name]", global.netbios_name)  %>
    </div>
  
    <div class='action'>
      <%= link_to_remote "submit", 
        :url=> { :controller=> "smb", :action => "saveSettings" },
        :loading => "$('#waitAnimation').show();",
        :after =>  "$('#waitAnimation').fadeOut(500);",          
        :html => {:class => "btn greenBtn textRight"},
        :with=>"'share[id]=#{global.id}' + '&share[netbios_name]='+$('#share_netbios_name').val()" 
      %>
    </div>
  </div>  
      
  <div class="line">
    <div class="key">
      Security mode
      <span class="description">Defines in which mode Samba will operate</span>
    </div>
  
    <div class="value uppercase">
      <%= global.security %>
    </div>
  
    <div class='action'>
      <%= link_to_remote "submit", 
        :url=> { :controller=> "smb", :action => "saveSettings" },
        :loading => "$('#waitAnimation').show();",
        :after =>  "$('#waitAnimation').fadeOut(500);",          
        :html => {:class => "btn greenBtn textRight"},
        :with=>"'share[id]=target[1]' + '&share[security]=share'" 
      %>
    </div>
  </div>
   
</div>

<h2 class="mheading grey"> Trouble-shooting </h2>

<div class="moduleForm">
  <div class="line">
    <div class="key">
      Restart SMB and NMB deamons
      <span class="description">Client can not mount shared folreds or SMB server is not visible</span>
    </div>
  
    <div class="value uppercase">
    </div>
  
    <div class='action'>
      <%= link_to_remote "restart", 
        :url=> { :controller=> "smb", :action => "restart" },
        :html => {:class => "btn redBtn textRight"},
        :loading => "$('#waitAnimation').show();",
        :update => "notificationArea",
        :after => "notify()"
      %>
    </div>    
  </div>
  
  <div class="line">
    <div class="key">
      Grant write permissions
      <span class="description">Client can access shared folders, but can't create any file or directory</span>
    </div>
  
    <div class="value uppercase">
    </div>
  
    <div class='action'>
      <%= link_to_remote "grant", 
        :url=> { :controller=> "smb", :action => "permissions" },
        :html => {:class => "btn redBtn textRight"},
        :loading => "$('#waitAnimation').show();",
        :update => "notificationArea",
        :after => "notify()"
      %>
    </div>    
  </div>    
  
</div>  
