<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <%= stylesheet_link_tag '960.css' %>
    <%= stylesheet_link_tag 'reset.css' %>
    
    <%= stylesheet_link_tag 'application.css' %>
    <%= stylesheet_link_tag 'layout.css' %>
    <%= stylesheet_link_tag 'forms.css' %>

    <%= javascript_include_tag 'jquery-1.4.3' %>
    <%= javascript_include_tag 'jrails' %>
    <%= javascript_include_tag 'application' %>

  </head>
  
  <body style="position:relative;">
  <div id="container">

    <div id="header">
       <div class="container_12">
        <div class="grid_3">

          <div id="beta">
           <img src="../images/alpha-button.png" class="large_thumb_image" alt="thumb" />
           <div class="shine"></div>
          </div>

        </div>
        <div class="grid_9">
          <a href="/" style="color:#fff;"><h1>SuSE Media Server</h1></a>
        </div>
       </div>


    </div>

    <div id="navbar">
      <div class="container_12">
        <div class="grid_12">
          <a href="/" style="font-weight:bold; color:#666; text-shadow:0px 1px 0px #fff; text-decoration:none;">
            <img src="/images/home-sym.png" style="margin:5px 0px; width:32px; height:32px; " />
            <label style="vertical-align:middle; ">Home</label>
          </a>
        </div>
      </div>
    </div>


     <div id="content">
        <%= yield %>
    </div>

    <div id="footer">
      <div class="container_12">
        <div class="counter">P</div>
        <div class="counter">R</div>
        <div class="counter">E</div>
        <div class="counter">-</div>
        <div class="counter">A</div>
        <div class="counter">L</div>
        <div class="counter">P</div>
        <div class="counter">H</div>
        <div class="counter">A</div>
        <div class="counter">&nbsp;</div>
        <div class="counter">V</div>
        <div class="counter">E</div>
        <div class="counter">R</div>
        <div class="counter">S</div>
        <div class="counter">I</div>
        <div class="counter">O</div>
        <div class="counter">N</div>

        <!--<ul>
           <li class="grid_3">
             <a href="http://en.opensuse.org/Portal:WebYaST">
              <div class="topbox">OPENSUSE WIKI</div>
              <div class="bottombox">
                Learn more about WebYaST.
              </div>
            </a>
          </li>

           <li class="grid_3">
             <a href="http://forums.opensuse.org/">
              <div class="topbox">OPENSUSE FORUM</div>
              <div class="bottombox">
                Ask questions on WebYaST forum.
              </div>
            </a>
          </li>

           <li class="grid_3">
             <a href="/company/">
              <div class="topbox">FREENODE IRC</div>
              <div class="bottombox">
                Join us on IRC freenode #webyast channel.
              </div>
            </a>
          </li>

           <li class="grid_3">
             <a href="/company/">
              <div class="topbox">KONTAKT</div>
              <div class="bottombox">Our mailinglist webyast@suse.de</div>
            </a>
          </li>
        </ul>-->
        <div class="clear"></div>
      </div>
    </div>
  </div>
  
  <div id="modalshade"/>
  </body>
  
</html>

