<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <%= stylesheet_link_tag '960.css' %>
    <%= stylesheet_link_tag 'reset.css' %>
    <%= stylesheet_link_tag 'layout.css' %>
    <%= stylesheet_link_tag 'flash.css' %>
    <%= javascript_include_tag 'jquery-1.4.3' %>
  </head>

  <body style="position:relative;">
  <div id="container">

    <div id="header">
       <div class="container_12">
        <div class="grid_3">

          <div id="beta">
           <img src="../images/sticker/alpha-button.png" class="large_thumb_image" alt="thumb" />
           <div class="shine"></div>
          </div>

        </div>
        <div class="grid_9">
          <a href="/" style="color:#fff;"><h1>SuSE Media Server</h1></a>
        </div>
       </div>
    </div>

    <div id="navbar">
      <div class="container_12">
        <div class="grid_12">
          <a href="/" style="font-weight:bold; color:#888; text-shadow:0px 1px 0px #fff; text-decoration:none;">
            <img src="/images/home.png" style="margin:5px 0px; width:22px; height:22px; " />
            <label style="vertical-align:middle;">Home</label>
          </a>
        </div>
      </div>
    </div>

    <%= flash[:notice] %>

    <div id="content">
        <%= yield %>
    </div>

    <div id="footer">
      <div class="container_12">
        <div class="footertext">A</div>
        <div class="footertext">L</div>
        <div class="footertext">P</div>
        <div class="footertext">H</div>
        <div class="footertext">A</div>
        <div class="footertext">&nbsp;</div>
        <div class="footertext">V</div>
        <div class="footertext">E</div>
        <div class="footertext">R</div>
        <div class="footertext">S</div>
        <div class="footertext">I</div>
        <div class="footertext">O</div>
        <div class="footertext">N</div>
      </div>
    </div>
  </div>

  <div id="modalshade"></div>
  </body>

</html>

